In [68]:
import numpy as np
import pandas as pd

In [69]:
budget = pd.read_csv(r'02-Python_Unit 2 Homework_PyBank_Resources_budget_data.csv')
print(budget)

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [70]:
print(budget['Date'])

0     Jan-2010
1     Feb-2010
2     Mar-2010
3     Apr-2010
4     May-2010
        ...
81    Oct-2016
82    Nov-2016
83    Dec-2016
84    Jan-2017
85    Feb-2017
Name: Date, Length: 86, dtype: object

In [71]:
Total_months = len(budget['Date'])

In [72]:
Total = sum(budget['Profit/Losses'])

In [73]:
budget['Average_Change'] = budget['Profit/Losses'].shift(1)
budget['difference'] = budget['Profit/Losses'] - budget['Average_Change']

print(budget)

        Date  Profit/Losses  Average_Change  difference
0   Jan-2010         867884             NaN         NaN
1   Feb-2010         984655        867884.0    116771.0
2   Mar-2010         322013        984655.0   -662642.0
3   Apr-2010         -69417        322013.0   -391430.0
4   May-2010         310503        -69417.0    379920.0
..       ...            ...             ...         ...
81  Oct-2016         102685        768450.0   -665765.0
82  Nov-2016         795914        102685.0    693229.0
83  Dec-2016          60988        795914.0   -734926.0
84  Jan-2017         138230         60988.0     77242.0
85  Feb-2017         671099        138230.0    532869.0

[86 rows x 4 columns]

In [74]:
Average = round(budget['difference'].mean(),2)
Max = round(budget['difference'].max(),2)
Min = round(budget['difference'].min(),2)

In [78]:
Max_Date = budget.loc[budget['difference'].idxmax(), 'Date']
print(Max_Date)
Min_Date = budget.loc[budget['difference'].idxmin(), 'Date']
print(Min_Date)

Feb-2012
Sep-2013

In [76]:
print('Financial Analysis')
print("--------------------------------------------------------")
print(f"Total Months: {Total_months}")
print(f"Total: {Total}")
print(f"Average Change: {Average}")
print(f"Greatest Increase in Profits: {Max_Date} {Max}")
print(f"Greatest Decrease in Profits: {Max_Date} {Min}")

Financial Analysis
--------------------------------------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.12
Greatest Increase in Profits: Feb-2012 1926159.0
Greatest Decrease in Profits: Feb-2012 -2196167.0